
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center>
    <h2>ADMINISTRACION</h2>
</center>
<br />
<br />

<br/>
<div class="navbar-collapse collapse">
    <ul class="nav nav-tabsv" >

        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">FRONT</a>
            <div>

                <h3>@Html.ActionLink("Definicion FRONT", "Index", "Front")</h3>
                Seleccione este Item para registrar un Front.
            </div>
            
            
            @*<div>
                <h3>@Html.ActionLink("Administrar Contenido Front", "Index", "ContenidoFront")</h3>
                Seleccione este Item para registrar el contenido de un front
            </div>
            <div>

                <h3>@Html.ActionLink("Administrar Imagenes Contenido", "Index", "ImagenesContenido")</h3>
                Seleccione este Item para registrar una iamgen por contenido
            </div>*@


        </li>
        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">SLIDE</a>
            <div>

                <h3>@Html.ActionLink("Definicion PANEL", "Index", "Slide")</h3>
                Seleccione este Item para registrar un Slide.
            </div>
            <div>

                @*<h3>@Html.ActionLink("Contenido PANEL", "Index", "ContenidoSlide")</h3>
                Seleccione este Item para registrar el contenido de un slide.*@
            </div>
        </li>

        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">BIBLIOTECA DE IMAGENES</a>
            <div>

                <h3>@Html.ActionLink("Biblioteca de IMAGENES", "Index", "Imagenes")</h3>
                Seleccione este Item para registrar una Imagen.
            </div>
           
        </li>

        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">CONTACTO</a>
            <div>

                <h3>@Html.ActionLink("Trabaja con Nosotros", "Index", "Trabaja")</h3>
                Seleccione este Item para ver los registros.
            </div>
            <div>

                <h3>@Html.ActionLink("Directorio Interno", "Admin", "Directorio")</h3>
                Seleccione este Item para ver los registros.
            </div>

        </li>

        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">DOCUMENTACIÓN</a>
            <div>

                <h3>@Html.ActionLink("Documentación", "Index", "Documentos")</h3>
                Seleccione este Item para ver los registros.
            </div>

        </li>

        <li class="dropdown">
            <a href="#" style="background-color: #0686FC; font-size:medium; color:white;" class="dropdown-toggle" data-toggle="dropdown">USUARIOS</a>
            <div>

                <h3>@Html.ActionLink("Usuarios", "Index", "Usuario")</h3>
                Seleccione este Item para ver los registros.
            </div>

        </li>


    </ul>
</div>
