@model IEnumerable<IPSSER.DATOS.TBL_PORTAL_BIBLIOTECA_IMAGENES>

@{
    ViewBag.Title = "Index";
}

<br />
<center>
    <h2>BIBLIOTECA DE IMAGENES</h2>
</center>
<br />
<br />

<p>
    @Html.ActionLink("Agregar Imagen", "Create", null, new { @class = "btn btn-primary btn-xs" })
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdImagen }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdImagen }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdImagen }, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        }

    </table>
</div>
