@model IPSSER.DATOS.TBL_PORTAL_SLIDE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_PORTAL_SLIDE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título Panel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Descripción Panel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Nombre Front
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_PORTAL_FRONT.Titulo)
        </dd>

        <dt>
            Contenido Uno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido_Uno)
        </dd>

        <dt>
            Contenido Dos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido_Dos)
        </dd>

        <dt>
            Contenido Tres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido_Tres)
        </dd>

        <dt>
            Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            <img style="border-radius:5px" width="30%" src="../@Html.DisplayFor(model => model.TBL_PORTAL_BIBLIOTECA_IMAGENES.Path)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSlide }) |
    @Html.ActionLink("Back to List", "Index")
</p>
