@model IPSSER.DATOS.TBL_PORTAL_TRABAJA_CON_NOSOTROS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_PORTAL_TRABAJA_CON_NOSOTROS</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nombres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            Teléfono Fijo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>

        <dt>
            Teléfono Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Trabaja", FormMethod.Post, new { onsubmit = "if (!confirm('¿Confirma eliminar este registro?')){ return false; }" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
